<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exit page</title>
</head>
<body>
<p1> This is exit page and there is references to pages with parameteres and without</p1>
<p> </p>
<a href="/hello?name=Yukino&surname=Shinthou">Press this to go to hello page with params and if not but anyway protected</a>
<p> </p>
<a href="/goodbye">Press this to go to goodbye page without params and get error</a>
<p> </p>
<a href="/Exit">Press this to go to Exit page without params and get protected</a>
<p> </p>
<a href="/Exit?name=Yukino&surname=Shinthou">Press this to go to Exit page with params and get protected</a>
<p> </p>
</body>
</html>